<div class="grid">
  <div class="hero-title">
    <h2>Flash Card App</h2>
  </div>

  <% if (cards.length > 0) { %>
          <table class="card-table">
            <thead>
              <tr>
          
                <th>Front</th>
                <th>Back</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% cards.forEach(function(card) { %>
                <tr data-id="<%= card.card_id %>">
                  <td><%= card.front_text %></td>
                  <td><%= card.back_text %></td>
                  <td>
                    <button class="edit-button" data-id="<%= card.card_id %>">Edit</button>
                  </td>
                  <td>
                    <button class="delete-button" data-id="<%= card.card_id %>">Delete</button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>          
      </tbody>
    </table>

    <div id="delete-error-message" style="display:none; color: red;"></div>

    <script src="/scripts/edit-card.js"></script>

    <div id="custom-confirm" class="confirm-modal" style="display: none;">
      <div class="confirm-content">
        <p id="confirm-message">Are you sure?</p>
        <div class="confirm-buttons">
          <button id="confirm-yes">Yes</button>
          <button id="confirm-no">No</button>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="no-cards-message">
      <h2>No cards to display.</h2>
    </div>
  <% } %>
</div>
